@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  /* padding-left: 40px;
  padding-right: 40px; */
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

ul {
  list-style: none;
}

button{
  font-family: inherit;
  border: none;
}

.logo {
  position: relative;
  margin-right: 30px;
}

.search {
  height: 406px;
  /* padding-left: 304px;
  padding-right: 304px; */
}

/* .search-description {
  width: 592px;
  height: 52px;
  margin: auto;
} */

.navigation-button,
.search-button,
.newsletter-button {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.search-button,
.newsletter-button {
  font-size: 20px;
  line-height: 36px;
}

.search-button{
  background-color: #756157;
}

.page-header {
  height: 64px;
  background-color: #ffffff;
  /* padding-left: 70px; */
  /* padding-right: 70px; */
}

.section-header {
  height: 261px;
}

.header-description {
  width: 620px;
  height: 72px;
  margin: auto;
}

.navigation {
  display: flex;
  /* width: 1200px; */
  /* height: 64px; */
  margin: 0 auto;
  /* padding-left: 70px; */
  padding: 0 70px;
}

.navigation-list {
  width: 430px;
  margin: 0;
  padding: 0;
}

.navigation-link{
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/* .main-container {
  flex-grow: 1;
} */

.main-index {
  text-align: center;
  background-color: #ffffff;
}

.main-catalog-hotel{
  background-color: #ffffff;
  /* margin: 0; */
  /* padding: 0;
  margin: 0; */
  /* flex-grow: 1; */
  /* text-align: left; */
}

.warp-catalog{
  background-color: #82B3D3;
  background-image: url("../images/places/places-6.jpg");
  background-size: 100% 412px;
  background-repeat: no-repeat;
  height: 412px;
  padding-left: 70px;
  /* margin: 0; */
  /* padding: 0;
  margin: 0; */
  /* width: 1200px; */
}

.catalog-filter{
  display: flex;
}

.catalog-filter-button{
  padding-left: 50px;
}

.filter-button {
  display: block;
  width: 191px;
  height: 36px;
  text-align: center;
}

.catalog-header-title{
  margin: 0;
  /* padding-left: 70px; */
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.control-input-cost{
  height: 48px;
  width: 143px;
  font-weight: 700;
  background-color: #F2F2F2;
}

.movement {
  display: flex;
  padding: 0;
}

.movement-link{
  color: #ffffff;
  text-decoration: none;
  }

 fieldset{
    border: 0;
  }

.catalog-filter-list{
  padding-left: 0;
}

.catalog-filter-title{
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-item{
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.catalog-filter-group{
  margin: 0;
  padding-left: 0;
  padding-right: 70px;
}

.catalog-hotel-found {
  /* display: block; */
  padding: 0 70px;

}

.catalog-hotel-found-wrap {
  display: flex;
  height: 100%;
  /* margin: auto; */
  /* height: 100px; */
  /* justify-content: space-around; */
}

.product-list {
  display: flex;
  padding: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
	flex-wrap:wrap;
}

.button-show {
  justify-content: space-between;
  width: 1060px;
}

.intro {
  background-color: #82B3D3;
  background-image: url("../images/places/places-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-wrap:wrap;
}

.advantages-item {
  width: 400px;
  height: 385px;
  margin: 0;
  position: relative;

}

.advantages-item-img{
  width: 800px;
  height: 385px;
  margin: 0;
}

.advantages-item-mid {
  width: 400px;
}

.advantages-title, .services-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-title {
  height: 72px;
  width: 505px;
  margin: auto;
}

.advantages-description, .services-description, .select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog-discription {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #333333;
}

.advantages-item-mid:nth-child(2n+1){
  background-color: #83B3D31F;
}

.advantages-item-mid:nth-child(2n), .services-item:nth-child(2n+1){
  background-color: #83B3D333;
}

.services-item{
  width: 400px;
}

.advantages-item-edge{
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-description-edge{
  color: #ffffff;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-description {
  color: #333333;
}

.services-header {
  height: 246px;
}

.services-list{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  height: 385px;
}

.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/places/places-4.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 414px;
}

.newsletter-button{
  color: #ffffff;
  background-color: #82B3D3;
  /* width: 232px;
  height: 52px; */
}

.text-footer-title {
  height: 52.51px;
  width: 475px;
  margin: auto;
}

.field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  /* width: 452px;
  height: 52px; */
}

.page-footer {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.footer-social-list{
  display: flex;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address-phone{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  /* visibility: hidden; */
  /* display: none; */
  color: red;
}

.filter-button, .product-button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #00000000;
  text-transform: uppercase;
}


/* .{
  background-color: #82B3D3;
} */

.hotel-found{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 100%;
}

.product-card{
  border: 1px solid rgba(230, 230, 230, 1);
  text-align: justify;
  max-width: 340px;
  height: 438px;
  padding: 20px;
}

.product-card-image {
  width: 300px;
  height: 212px;
  /* position: sticky; */
}

.product-card-link{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.product-button{
 width: 140px;
 height: 36px;
}

.product-card-more-button{
  background-color: #756157;
}

.filter-button-apply, .product-card-like-button{
  background-color: #82B3D3;
}

.product-card-like-button-active{
  background-color: #7DB54F;
}

.text-rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #F2F2F2;
}
.pagination{
  display: flex;
  padding: 0;
}
.pagination-item{
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}

.pagination-item-current{
  background-color: #F2F2F2;
}

.pagination-link{
  color: #ffffff;
  text-decoration: none;
}

.pagination-current{
  color: #000000;
}
.newsletter-catalog{
  height: 414px;
  text-align: center;
}
